<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Akceptacja wniosków</title>
</head>
<body>
Zalogowanie użytkownik:<p th:text="${username}"></p>
Posiada uprawnienia<p th:text="${role}"></p>
<div id="formContent"></div>
    <div class="registrationTitle">Akceptacja wniosków</div>
    <form th:action="@{/acceptholiday}" th:object="${holiday}" method="post">
        <p class="error" th:text="${commonError}"></p>


        <tr>
        <td>Złożone wnioski</td>
        <td >
            <select name="accepted" id="accepted" th:field="*{id}">
                <!--<select name="replacement person" id="replacement" th:field="*{replacement}" placeholder="replacement">-->
                <option value="">Lista wniosków</option>
                <option th:each="holiday : ${holidays}"
                        th:value="${holiday.id}"
                        th:text="${holiday.id}" ></option>
            </select>
        </td>
        </tr>


        <select name="accept" id="accept" th:field="*{accepted}" placeholder="accept">
            <option value="AKCEPTACJA">AKCEPTACJA</option>
            <option value="ODRZUCENIE">ODRZUCENIE</option>
        </select>

        <tr>
            <input type="button" value="Powrót" name="backButton"
                   onClick="javascript:window.location.href='/index'" class="myButton shortButton" >
            <input type="submit" value="Zapisz" name="saveButton" class="mySubmitButton">
        </tr>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
</body>
</html>
