<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Złożone wnioski</title>
</head>
<body>
<tr>
    <td>Osoba zastępująca: </td>
    <!-- <td th:object="${user}">-->
    <td>
        <select name="replacement" id="replacement">
            <!--<select name="replacement person" id="replacement" th:field="*{replacement}" placeholder="replacement">-->
            <option value="">Wybierz zastępstwo</option>
            <option th:each="holiday : ${holidays}"
                    th:value="${holiday.id}"
                    th:text="${holiday.accepted}"></option>
        </select>
    </td>
</tr>
<div id="formContent"></div>
    <div class="registrationTitle">Złóż wniosek</div>
    <form th:action="@{/acceptHoliday}" th:object="${holiday}" method="post">
        <p class="error" th:text="${commonError}"></p>


        <tr>
        <td>Złożone wnioski</td>
        <td th:object="${user}">
            <select name="replacement" id="replacement">
                <!--<select name="replacement person" id="replacement" th:field="*{replacement}" placeholder="replacement">-->
                <option value="">Wybierz zastępstwo</option>
                <option th:each="user : ${users}"
                        th:value="${user.id}"
                        th:text="${user.username}"></option>
            </select>
        </td>
        </tr>

        <tr>
            <td><input name="accept" type="submit" value="Aktceptuj" /></td>
        </tr>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
</body>
</html>
