<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wnioski urlopowe</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $('#from').datepicker({
                showOnFocus: false,
                showTrigger: '#calImg',
                beforeShowDay: $.datepicker.noWeekends,
                pickerClass: 'noPrevNext',
                numberOfMonths: 1,
               // dateFormat: 'mm-dd-yy',
                altFormat: "DD, d MM, yy",
                minDate: '0',
                maxDate: '+1Y',
                onSelect: function(dateStr) {
                    var min = $(this).datepicker('getDate');
                    $('#to').datepicker('option', 'minDate', min || '0');
                    datepicked();
                }});
            $('#to').datepicker({
                showOnFocus: false,
                showTrigger: '#calImg',
                beforeShowDay: $.datepicker.noWeekends,
                pickerClass: 'noPrevNext',
                numberOfMonths: 1,
               // dateFormat: 'mm-dd-yy',
                altFormat: "DD, d MM, yy",
                minDate: '0',
                maxDate: '+1Y',
                onSelect: function(dateStr) {
                    var max = $(this).datepicker('getDate');
                    $('#from').datepicker('option', 'maxDate', max || '+1Y');
                    datepicked();
                }});
        });


        var datepicked = function() {
            var from = $('#from');
            var to = $('#to');
            var nights = $('#nights');

            var startDate = from.datepicker('getDate')

            var endDate = to.datepicker('getDate')


// Validate input
            if (endDate && startDate) {


// Calculate days between dates
                var millisecondsPerDay = 86400 * 1000; // Day in milliseconds
                startDate.setHours(0,0,0,1);  // Start just after midnight
                endDate.setHours(23,59,59,999);  // End just before midnight
                var diff = endDate - startDate;  // Milliseconds between datetime objects
                var days = Math.ceil(diff / millisecondsPerDay);

// Subtract two weekend days for every week in between
                var weeks = Math.floor(days / 7);
                var days = days - (weeks * 2);

// Handle special cases
                var startDay = startDate.getDay();
                var endDay = endDate.getDay();

// Remove weekend not previously removed.
                if (startDay - endDay > 1)
                    var days = days - 2;

// Remove start day if span starts on Sunday but ends before Saturday
                if (startDay == 0 && endDay != 6)
                    var days = days - 1

// Remove end day if span ends on Saturday but starts after Sunday
                if (endDay == 6 && startDay != 0)
                    var days = days - 1

                nights.val(days);
            }
        }
    </script>
</head>
<body>
<div class="wrapper">
    Zalogowany użytkownik:<p th:text="${username}"></p>
    Posiada uprawnienia:<p th:text="${role}"></p>
    Id usera<p th:text="${userId}"></p>
    <div id="formContent">
        <div class="registrationTitle">Złóż wniosek</div>
        <form th:action="@{/holiday}" th:object="${holiday}" method="post">
            <p class="error" th:text="${commonError}"></p>
            <table>
                <tr>
                    <td>Dzień rozpoczęcia:</td>
                    <td><input type="text" id="from" th:field="*{startDate}" class="myTextButton" placeholder="startDate"/>
                        <div class="error" th:errors="*{startDate}"></div><td>
                </tr>
                <tr>
                    <td>Dzień zakończenia:</td>
                    <td><input type="text" id="to" th:field="*{endDate}"class="myTextButton" placeholder="endDate"/>
                        <div class="error" th:errors="*{endDate}"></div><td>
                </tr>
                <tr>
                    <td>Ilość dni:</td>
                    <td><input type='text' id="nights" th:field="*{countOfDays}" class="countOfDays" placeholder="countOfDays"></td>
                </tr>
                <tr>

                </tr>
                <tr>
                    <td>Osoba zastępująca: </td>
                    <td th:object="${user}">
                        <select name="replacement" id="replacement">
                        <!--<select name="replacement person" id="replacement" th:field="*{replacement}" placeholder="replacement">-->
                        <option value="">Wybierz zastępstwo</option>
                        <option th:each="user : ${users}"
                                th:value="${user.id}"
                                th:text="${user.firstname +' '+ user.lastname}"></option>
                    </select>
                    </td>
                </tr>
            <tr>

            </tr></table>
            <input type="button" value="Powrót" name="backButton"
                   onClick="javascript:window.location.href='/index'" class="myButton shortButton" >
            <input type="submit" value="Do akceptacji" name="saveButton" class="mySubmitButton">
    </form>
</div>
</div>



<form th:action="@{/logout}" method="post">
<input type="submit" value="Logout" />
</form>
</body>
</html>
