<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wnioski urlopowe</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#startHoliday, #endHoliday" ).datepicker();
        } );
    </script>

</head>
<body>
<div class="wrapper">
Zalogowanie użytkownik:<p th:text="${username}"></p>
<div id="formContent">
    <div class="registrationTitle">Złóż wniosek</div>
    <form th:action="@{/holiday}" th:object="${holiday}" method="post">
        <p class="error" th:text="${commonError}"></p>
    <table>
        <tr>
            <td>Dzień rozpoczęcia:</td>
            <td><input type="text" id="startHoliday" th:field="*{startDate}" class="myTextButton" placeholder="startDate"/>
                <div class="error" th:errors="*{startDate}"></div><td>
        </tr>
        <tr>
            <td>Dzień zakończenia:</td>
            <td><input type="text" id="endHoliday" th:field="*{endDate}"class="myTextButton" placeholder="endDate"/>
                <div class="error" th:errors="*{endDate}"></div><td>
        </tr>
        <tr>
            <td>Ilość dni:</td>
            <td><input type='text' name='countOfDay' value=''></td>
        </tr>
        <tr>
            <td>Osoba zastępująca: </td>
            <td><select name="replacement person" id="replacement person">
                <option value="osoba 1">osoba 1</option>
                <option value="osoba 2">osoba 2</option>
            </select></td>
        </tr>
        <tr>
    <td><input name="accept" type="submit" value="Do akceptacji" /></td>
        </tr></table>
</form>
</div>
</div>

</body>
</html>
