<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<h2>Witaj w aplikacji urlopowej</h2>
Zalogowany użytkownik:<p th:text="${username}"></p>
Posiada uprawnienia:<p th:text="${role}"></p><br>
<!--ID user: <p th:value="${currentUser.id}"></p><br>-->
<div sec:authorize="hasAuthority('ADMIN')">
   <a href="http://localhost:8090/acceptholiday">Akceptacja wniosku.</a><br>
   <a href="http://localhost:8090/registration">Nowy użytkownik</a><br>
   <a href="http://localhost:8090/location">Dodaj nową lokacje.</a><br>
   <a href="http://localhost:8090/adddepartment">Dodaj nowy dział.</a><br>
    <a href="http://localhost:8090/updateDepartment">Edytuj dział. -- nie działa</a><br>
    <a href="http://localhost:8090/resetpassword">Resetuj hasła!</a><br>
</div>
<a href="http://localhost:8090/holiday">Złóż wniosek</a><br>
<a href="http://localhost:8090/changePassword">Zmień hasło.</a><br>
<a href="http://localhost:8090/raport">Raport</a><br>

<form th:action="@{/logout}" method="post">
   <input type="submit" value="Logout" />
</form>
</form>
</body>
</html>
