<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <!--navbar settings-->
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand">
                Zalogowany użytkownik: <a th:text="${username}" class="navbar-brand"></a>
            </a>

        </div>
        <div class="av navbar-nav navbar-right">
            <form th:action="@{/logout}" method="post"><strong><input type="submit" value="Wyloguj"
                                                                      class="navbar-brand"/></strong></form>

        </div>
    </div>
</nav>
<br><br><br>
Posiada uprawnienia:<p th:text="${role}"></p>
<!--ID user: <p th:value="${currentUser.id}"></p><br>-->
<div sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/acceptholiday}">Akceptacja wniosku.</a><br>
    <a th:href="@{/registration}">Nowy użytkownik</a><br>
    <a th:href="@{/location}">Dodaj nową lokacje.</a><br>
    <a th:href="@{/addDepartment}">Dodaj nowy dział.</a><br>
    <a th:href="@{/updateDepartment}">Edytuj dział.</a><br>
    <a th:href="@{/resetpassword}">Resetuj hasła!</a><br>
    <a th:href="@{/deleteUserForm}">Usuń użytkownika.</a><br>
    <a th:href="@{/updateUserForm}">Edytuj użytkownika.</a><br>
</div>
<div>
    <a th:href="@{/holiday}">Złóż wniosek</a><br>
    <a th:href="@{/changePassword}">Zmień hasło. -- nie działa</a><br>
    <a th:href="@{/raport}">Raport</a><br>
</div>


</body>
</html>
