<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<h2>Witaj w aplikacji urlopowej</h2>
Zalogowany użytkownik:<p th:text="${username}"></p>
Posiada uprawnienia:<p th:text="${role}"></p>
<a href="http://localhost:8090/holiday">URLOP</a>
<a href="http://localhost:8090/acceptholiday">akceptacja</a>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
</form>
</body>
</html>
