<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Twoje urlopy.</title>

</head>
<body>
<h2>Zalogowany użytkownik:<p th:text="${username}"></p></h2>
<div>Ilość złożonych wniosków: <p th:text="${countAll}"></p></div>
<div>Ilość zaakceptowanych wniosków: <p th:text="${counterAccept}"></p></div>
<div>Ilość odrzuconych wniosków: <p th:text="${counterReject}"></p></div>
<div>Ilość wniosków oczekujących: <p th:text="${counterNone}"></p></div>
<div>Wszytkie dni: <p th:text="${allDays}"></p></div>
<table border="1" class = "table table-striped table-responsive-md">
    <thead>
    <tr>

        <th>Początek urlopu</th>
        <th>Koniec urlopu</th>
        <th>Liczba dni</th>
        <th>Decyzja</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="holiday: ${holidays}">
        <td th:text="${holiday.getStartDate()}"></td>
        <td th:text="${holiday.getEndDate()}"></td>
        <td th:text="${holiday.getCountOfDays()}"></td>
        <td th:text="${holiday.getAccepted()}"></td>
    </tr>
    </tbody>
</table>
<input type="button" value="Powrót" name="backButton"
       onClick="javascript:window.location.href='/index'" class="btn btn-primary" >
<a th:href="@{/exportpdf}" class="btn btn-primary">Generuj PDF</a>
</body>
</html>
