<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <!--navbar settings-->
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand">
                Zalogowany użytkownik: <a th:text="${username}" class="navbar-brand"></a>
            </a>

        </div>
        <div class="av navbar-nav navbar-right">
            <form th:action="@{/logout}" method="post"><strong><input type="submit" value="Wyloguj"
                                                                      class="navbar-brand"/></strong></form>

        </div>
    </div>
</nav>
<br><br><br>
Posiada uprawnienia:<p th:text="${role}"></p>
<div class="mt-50"></div>
<div class="wrapper">

    <div id="formContent">
        <div class="registrationTitle" >Zmiana hasła</div>

        <form th:action="@{/resetpassword}" th:object="${user}" method="post">
            <p class="error" th:text="${commonError}"></p>


            <td>
                <select name="replacement" id="replacement" th:field="*{id}">
                    <!--<select name="replacement person" id="replacement" th:field="*{replacement}" placeholder="replacement">-->
                    <option value="">Użytkownik</option>
                    <option th:each="user : ${users}"
                            th:value="${user.id}"
                            th:text="${user.username}"></option>
                </select>
            </td>

                <input  id="changepassword" type="text" th:field="*{password}" class="myPasswordButton" value="Nowe123">
            <div class="error" th:errors="*{password}" ></div>
            </td>
            <input type="button" value="Powrót" name="backButton"
                   onClick="javascript:window.location.href='/index'" class="myButton shortButton" >
            <input type="submit" value="Zapisz" name="saveButton" class="mySubmitButton">

        </form>

    </div>
</div>
</body>
</html>
