<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edytuj użytkownika</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <!--navbar settings-->
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand">
                Zalogowany użytkownik: <a th:text="${username}" class="navbar-brand"></a>
            </a>

        </div>
        <div class="av navbar-nav navbar-right">
            <form th:action="@{/logout}" method="post"><strong><input type="submit" value="Wyloguj"
                                                                      class="navbar-brand"/></strong></form>

        </div>
    </div>
</nav>
<br><br><br>
Posiada uprawnienia:<p th:text="${role}"></p>
<div id="formContent"></div>
<div class="registrationTitle">Edytuj dział:</div>
<form th:action="@{/updateUserForm}" th:object="${user}" method="post">
    <p class="error" th:text="${commonError}"></p>
    <tr>
        <td>Wybierz użytkownika:</td>
        <td >
            <select name="user"  th:field="*{id}">
                <!--<select name="replacement person" id="replacement" th:field="*{replacement}" placeholder="replacement">-->
                <option value="">Wybierz</option>
                <option th:each="user : ${users}"
                        th:value="${user.id}"
                        th:text="${user.username}"></option>
            </select>
        </td>
    </tr>

    <td>Dział:</td>
    <td th:field="*{department}">
        <select name="department" id="department"  placeholder="department" >
            <option  value=""
                    th:each="department : ${departments}"
                    th:value="${department.id}"
                    th:text="${department.nameOfDepartment}"></option>
        </select>
    </td>

    <td>Uprawnienia:</td>
    <td>
    <select name="role" id="role" th:field="*{role}" placeholder="role">
        <option value="USER">USER</option>
        <option value="ADMIN">ADMINISTRATOR</option>
    </select>
    </td>

    <tr>
        <input type="button" value="Powrót" name="backButton"
               onClick="javascript:window.location.href='/index'" class="myButton shortButton" >
        <input type="submit" value="Zapisz" name="saveButton" class="mySubmitButton">
    </tr>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
</body>
</html>
